{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    required: true,
    label: "API Key"|t('elasticemail'),
    instructions: "You can find this in your Elastic Email settings."|t('elasticemail'),
    id: 'apiKey',
    name: 'apiKey',
    suggestEnvVars: true,
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey')
}) }}

{{ forms.autosuggestField({
    label: "Endpoint"|t('elasticemail'),
    instructions: "Use placeholder unless you have a private domain with Elastic Email"|t('elasticemail'),
    id: 'endpoint',
    name: 'endpoint',
    suggestEnvVars: true,
    placeholder: 'https://api.elasticemail.com/v2/',
    value: adapter.endpoint,
    errors: adapter.getErrors('endpoint')
}) }}
